<div class="container x5-top">
	<aside class="col-md-5 x2-top">
		<article class="profile-img box">
			<img src="img/profile.jpg">
		</article>
	</aside>
	<section class="col-md-7">
		<h2 class="hide">Milan Pal Singh</h2>
		<article class="box  x5-top">
			<section class="text-uppercase">
				<p class="lead color-green-dark">Hi everyone !! </p>
				<p>watch out for it.</p>
				<p>Awsome things are comming up !</p>
			</section>
			<section class="text-capitalize x3-top">
				<p class="color-green-dark"><strong>meanwhile get in touch : </strong></p>
				<p>
					<ul class="social-nav">
						<li><a href="https://www.google.com/+milanpalsingh-devil" target="_blank">
							<img src="/img/social/Social_Icons_GooglePlus.png" alt="GooglePlus"></a></li>
						<li><a href="https://www.linkedin.com/pub/milan-pal-singh/69/a21/4b9"  target="_blank">
							<img src="/img/social/Social_Icons_LinkedIn.png" alt="LinkedIn"></a></li>
						<!-- <li><a href="" target="_blank">
							<img src="/img/social/Social_Icons_Instagram.png" alt="Instagram"></a></li>
						<li><a href=""  target="_blank">
							<img src="/img/social/Social_Icons_GitHub.png" alt="GitHub"></a></li> -->
					</ul>
				</p>
			</section>
			
		</article>
	</section>
</div>
