<div>
			<h2 class="text-center">Resume</h2>
			<section class="clearfix">
				<ul class="list-inline pull-right">
					<li><a href="http://in.linkedin.com/pub/milan-pal-singh/69/a21/4b9">LinkedIN</a></li>
					<li><a href="http://www.google.com">G+</a></li>
				</ul>
			</section>
			<p ng-repeat="heading in resumeHeadings">{{heading}}</p>
			<h2 ng-repeat="h in resumeHeadings">{{ h.val  }}</h2>
			
			<section >
				<h3>Skils</h3>
				<article>
					<h4>Languages</h4>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>JQuery</li>
						<li>Java Script</li>
						<li>AJAX</li>
					</ul>
				</article>
				<article>
					<h4>Frameworks</h4>
					<ul>
						<li>LESS</li>
						<li>AngulerJs</li>
					</ul>
				</article>
			</section>
			<section>
				<h3>Education</h3>
				<article>
					<h4>Higher Secondry School</h4><span>2005</span>
					<div class="hide">
						<p>2005</p>
					</div>
				</article>
				<article>
					<h4>Senior Higher Secondry School</h4><span>2007</span>
					<div class="hide">
						<p>2007</p>
					</div>
				</article>
				<article>
					<h4>Bachelor of Engineering</h4><span>2007</span>
					<div class="hide">
						<p>2011</p>
					</div>
				</article>
			</section>
			<section>
				<h3>Work Experience</h3>
				<article>
					<h4>Techaspect Pvt.</h4>
					<span>2012 -- present</span>
				</article>
			</section>
			<section>
				<h3>Projects</h3>
				<article>
					<h4>Humana</h4>
					<span>2013 -- present</span>
					<section>
						<h5>Team members</h5>
						<ul>
							<li>Samriti abrol</li>
							<li>Milan Pal Singh</li>
						</ul>
					</section>
				</article>
			</section>
		</div>